<!DOCTYPE html>
<html>
  <head>
    <title>
      <meta charset="utf-8">
     블랙박스
    </title>
    <style>
      * {
          box-sizing: border-box;
          text-align: center;
        }
    </style>
  </head>
  <body>
    <h1>블랙 박스</h1>
    <form action="/report" method="get" >
      <input placeholder='code number' required name="code" />
      <button>검색</button>
    </form>
    <form acrtion="" method="get">
      <input placeholder="camera number" required name="camera" />
      <button>등록</button>
    </form>
  </body>
</html>
